<h1>My Tasks</h1>

<ul class="list-group list-group-flush">
<% @all_tasks.each do |task| %>
<li class="list-group-item link-dark">
<% if  task.completed %>
  <i class="fa-regular fa-square-check"></i>
<% else %>
  <i class="fa-regular fa-square"></i>
<% end %>
<%= link_to task.title, task_path(task.id) %>
<%# <%= link_to "DEL", task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</li>
<% end %>
</ul>

<%= link_to "Add a new task", new_task_path, class: "btn btn-secondary" %>
